# PostgreSQL - Example for a cloud database
POSTGRES_USER=your_cloud_user
POSTGRES_PASSWORD=your_cloud_password
POSTGRES_SERVER=your_cloud_host.com
POSTGRES_DB=your_cloud_db_name
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}/${POSTGRES_DB}

# JWT
SECRET_KEY=a_very_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256 